
@model Cotati.Models.Suggestions

@{
    ViewData["Title"] = "Cotati";
}

<style type="text/css">
    .home{
        padding-top:10vh;
  text-align:center;
    }

    #search{
        width:60vw;
    }
</style>

<div  class="home">
  

    <input id="search" type="text" onkeyup="callAutoComplete()" />
    <input type="submit" value="search" onclick="search()" />
    <ul id="suggestions"></ul>

</div>
@*
    @foreach (var sg in Model.SuggestionGroups)
    {

        @sg.name


        <ul>
            @foreach (var s in sg.SearchSuggestions)
            {

                <li>@s.displayText</li>
            }
        </ul>
    }

*@


<script type="text/javascript">

    function callAutoComplete() {


        var search = document.getElementById("search").value;

        if (search.length > 0) {

            //alert(search);
            var uri = '../api/autocomplete/' + search;

            $.getJSON(uri)
                .done(function (data) {

                    $('#suggestions').empty();
             // On success, 'data' contains a list of products.
             $.each(data.suggestionGroups[0].searchSuggestions, function (key, item) {
                 // Add a list item for the product.
                 //$('<li>', { text: formatItem(item) }).appendTo($('#search'));
                 $("<li>", { text: item.displayText }).appendTo($('#suggestions')).click(function ()
                 {
                     //alert('jjj')
                     var term = $(this).text();
                     $("#search").val(term);
                     //alert(term);

                     window.location = window.location.protocol + "//" + window.location.host + "/" + "/home/search/?query=" + encodeURI(item.query);

                     @*@Url.Action("Search", "Home", new { query = "plumber in leeds" });*@
                 });
             });
         });
        }

    }

    function formatItem(item) {
        return item.Name + ': $' + item.Price;
    }

    function search() {

        window.location = window.location.protocol + "//" + window.location.host + "/" + "/home/search/?query=" + encodeURI($("#search").val());

    }

</script>

